form {
    background-color: rgb(231, 224, 224);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    border-radius: .5rem;
}

.exampleCode {
    background-color: rgb(88, 85, 85);
    color: white;
    margin-left: 2rem;
    margin-right: 35rem;
    padding-left: .25rem;
}

button {
    background-color: blue;
    color: white;
    border-radius: .5rem;
}

label,
input,
textarea,
select,
button {
    margin: .5rem
}

span {
    color: blue;
}

h1 {
    color: rgb(77, 77, 240);
    justify-content: center;
    display: flex;
}